.product-card {
  height: 100%;
}

.product-image {
  width: 220px;
  height: 220px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
  padding-top: 15px;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.price {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 15px;
}